<section id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>E S I K A N A Y O</h3>
                            <strong>Phone:</strong> <a href="tel:+243853621283">+243 853 621 283</a> / <a href="tel:+243819435836">+243 819 435 836</a> / <a href="tel:+243903263691">+243 903 263 691</a> /<a href="tel:+243995952691">+243 995 952 691</a><br>
                            <strong>Email:</strong> esikanayo@gmail.com<br>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Navigation</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#apropos">A propos de nous</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#services">Nos Services</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Nos Services</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i>Web Design</li>
                                <li><i class="bx bx-chevron-right"></i>Web Development</li>
                                <li><i class="bx bx-chevron-right"></i>Product Management</li>
                                <li><i class="bx bx-chevron-right"></i>Marketing</li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4 class="text-center">Nos reséaux sociaux</h4>
                            <div class="social-links mt-3 text-center">
                                <a href="https://web.facebook.com/profile.php?id=100094573120512&_rdc=1&_rdr" target="_blank" class="facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/esikanayo/" class="instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                <a aria-label="Chat on WhatsApp" href="https://wa.me/243853621283" class="whatsapp" target="_blank"><i class="fa-brands fa-whatsapp"aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright text-center">
                    &copy; Copyright <strong><span>esikanayo</span></strong>. All Rights Reserved
                </div>
            </div>
            </footer><!-- End Footer -->
        </div>
    </div>
</section>