<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href=" https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Esikanayo</title>
</head>

<body>
    <!--loading...-->
    <div class="preloader-wrapper">
        <div class="spinner-border text-primary " style="width: 3em;height: 3em;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- ======= Header Section ======= -->
    <?php require("templates/header_footer/header.html"); ?>
    <!-- ======= End Header ======= -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-2 hero-img">
                    <img src="images/hero-img.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Création de sites web professionnels</h1>
                    <p class="text-start">Bienvenue sur « E S I K A N A Y O », le premier service de création de sites
                        web
                        qui fournit aux particuliers et aux entreprises un moyen de donner
                        vie à leurs produits ou services. Avec nos solutions de conception
                        personnalisées, vous pouvez faire une impression durable en ligne et
                        faire remarquer votre entreprise.</p>
                    <div><a href="#services" class="btn-get-started">Découvrir</a></div>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- ======= services Section ======= -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2>Nos Services</h2>
                    <p>
                        Avec « E S I K A N A Y O », découvrez une nouvelle façon de présenter et de développer votre
                        bussiness ou entreprise en ligne !
                    </p>
                </div>
                <div class="card col-12 col-lg-4">
                    <div style="width: 13rem;" class="mx-auto"><img src="images/job_ready.svg" class="card-img-top"
                            alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Optimisation SEO pour le succès du site web</h5>
                        <p class="card-text text-center">Notre service de référencement est conçu pour augmenter votre
                            visibilité en ligne et
                            améliorer le classement des moteurs de recherche en optimisant votre site web et son
                            contenu.</p>
                    </div>
                </div>
                <div class="card col-12 col-lg-4">
                    <div style="width: 13rem;" class="mx-auto"><img src="images/social_media.png"
                            style="border-radius: 50%;" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Gestion des médias sociaux pour les entreprises</h5>
                        <p class="card-text text-center">Notre service SMM crée et exécute des plans stratégiques de
                            médias
                            sociaux pour
                            augmenter la visibilité et l'engagement en ligne de votre marque avec un ton de voix
                            formel.</p>
                    </div>
                </div>
                <div class="card col-12 col-lg-4">
                    <div style="width: 13rem;" class="mx-auto"><img src="images/client_support.png"
                            style="border-radius: 50%;" class="card-img-top" alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-title text-center">WhatsApp Contacter l'assistance pour les sites web</h5>
                        <p class="card-text text-center">Notre service de contact WhatsApp vous permet de nous joindre
                            rapidement et
                            efficacement, avec une communication formelle pour toutes vos demandes et
                            préoccupation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End services ======= -->
    <!-- ======= A propos Section ======= -->
    <section id="apropos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2 class="text-center">Prêt à donner un nouvel élan à votre bussiness ou entreprise ?</h2>
                    <p class="text-center pt-3">
                        Permettez à votre entreprise d'avoir une présence en ligne, développez rapidement votre business
                        et obtenez votre site web professionnel selon vos demandes et besoins. <br>
                        Quel que soit votre projet de site, nous sommes là pour vous conseiller, vous accompagner et
                        concevoir votre site de A à Z. <br>
                        Avec « E S I K A N A Y O » permettez à votre business ou entreprise de devenir une référence en
                        ligne.
                    </p>
                    <div class="text-center"><a href="index.php?action=contact"
                            class="btn-get-started">Contactez-nous</a></div>
                </div>
                <div class="col-12 col-lg-6">
                    <!---Vidéo de la Publicité-->
                    <video controls style="width: 100%;">
                        <source src="images/presentation.mp4" type="video/mp4">
                        Votre navigateur ne prend pas en charge la lecture de videos.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End A propos ======= -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <h3>Nos Clients témoignent</h3>
                            <h5>Mr. Henry, DG de « E P A N A Y O Sarl »</h5>
                                " Très satisfait du service professionnel et de qualité <br> que m'as proposé <br>« E S I K A N A Y
                                O » " . <br>
                                <a href="https://epanayo.co" target="_blank" class="text-light">epanayo.co</a>
                                </p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <?php require("templates/header_footer/footer.html"); ?>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>